name: CI

on: [pull_request]
jobs:
  build:
    name: Run CI Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install nodejs
        uses: actions/setup-node@v4
        with:
          node-version: "24.10.x"

      - name: Install node dependencies
        run: npm ci --ignore-scripts

      - name: Run unit tests
        run: |
          npm run test
      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@a31c9398be7ace6bbfaf30c0bd5d415f843d45e9
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}